 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>프로젝트 기관(회사):
                                    <strong><a href="{{ post.link1 }}" target="blank">{{ post.demo }}</a>
                                    </strong>
                                </li>
                                <!-- <li>Code:
                                    <strong><a href="{{ post.link2 }}" target="blank">{{ post.code }}</a>
                                    </strong>
                                </li> -->
                                <li>업데이트:
                                    {{ post.update }}</a>
                                </li>
                                <li>기술:
                                    <strong>{{ post.technology }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p><strong> &#186; {{ post.description2 }}</strong></p>
                            <p><strong> &#186; {{ post.description3 }}</strong></p>
                            <p><strong> &#186; {{ post.description4 }}</strong></p>
                            <p><strong> &#186; {{ post.description5 }}</strong></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
